xml-xslt/TP2_Hasina/enseignement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="enseignants">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="enseignant" maxOccurs="unbounded"> <!-- maxOccurs="unbounded" veut dire : plusieurs fois, sans limite. -->
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="prenom" type="xs:string"/>
                        <xs:element name="nom" type="xs:string"/>

                        <xs:element name="note" minOccurs="0"/> <!-- minOccurs="0" veut dire : facultatif -->
                            <xs:complexType mixed="true">
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="b" type="xs:string"/>
                                </xs:choice>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="tel" minOccurs="0"/>
                            <xs:simpleType mixed="true">
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[0-9]{10}"/>
                                </xs:restriction>  
                            </xs:simpleType>
                        </xs:element>

                        <xs:element name="labo" type="xs:string"/>
                        <xs:element name="equipe" type="xs:string" minOccurs="0"/>

                        <xs:attribute name="sexe" use="required">
                            <xs:simpleType mixed="true">
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="m"/>
                                    <xs:enumeration value="f"/>
                                </xs:restriction>  
                            </xs:simpleType>
                        </xs:attribute>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>