data/contenu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contenuPortfolio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="page" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="bloc" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="texte" maxOccurs="unbounded">
                      <xs:complexType mixed="true">
                        <xs:attribute name="lang" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="fr"/>
                              <xs:enumeration value="en"/>
                              <xs:enumeration value="ja"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
